.g-container {
    width:512px;
    height:353px;
}

.JSXbox {
    width:100%;
    height:100%;
}

#G2Dbox-task-3{
    width:100%;
    height:100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.check-my-work-button{
    border: solid 1px black;
    width:150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    background: linear-gradient(#c6ffae,#6dff00);
}


.panel {
    border-color: #769206 !important;
}


.tab-pane>:first-child {
    margin-top: 20px;
}